@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

.box1 {
  border: 2px solid blue;
  width: 100%;
}

.Main {
  background-image: url("https://cdn.pixabay.com/photo/2016/08/15/16/48/vinyl-1595847_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  justify-items: center;
}
.navbar-item1 {
  background-size: cover;
  width: 60px;
  margin: 10px;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgb(190, 190, 190) 0%,
    rgb(96, 214, 230) 21%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 30px 40px;
  cursor: pointer;
}

/* .logo-container {
  justify-content: center;
} */
.logo-landing {
  max-width: 33%;
}
.with-border {
  border: 2px solid turquoise;
  box-shadow: 0px -1px 2px 3px #8affe4;
}
.is-flex {
  justify-content: center;
}
.quantity {
  width: 95%;
}
.products-table {
  overflow-x: auto;
}
.price-container {
  display: flex;
  align-items: center;
  position: relative;
}

.add-button {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* soluciones modernas para problemas modernos jaja  */
  .table-header {
    display: none;
  }
}
