@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

box1 {
  border: 2px solid blue;
  width: 100%;
}

.Main {
  background-image: url("https://cdn.pixabay.com/photo/2016/08/15/16/48/vinyl-1595847_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
